
.container-input {
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 2rem;
  width: 100%;
  padding: .25rem .75rem;
  border-radius: .3rem 0 0 .3rem;
  border: .1rem solid #ffffffa9;
  border-right: none;
  background: #0000004b;
  color: #fff;
  transition: .5s;
}
input::placeholder {
  color: #e9e9e9a8;
}
input:focus {
  border-color: #fff;
}
input:focus ~svg {
  border-color: #fff;
}

svg {
  color: #000000;
  background: #ffffff70;
  font-size: 1.7rem;
  display: flex;
  border: .1rem solid #ffffffa9;
  border-left: none;
  border-radius: 0 .3rem .3rem 0;
  padding: .4rem .7rem;
  cursor: pointer;
  transition: 1s;
}
svg:hover {
  background: #ffffffce;
}